#**Milestone 1: Data Cleaning**

## **Team Information**

Team Group: DEPI_GIZ2_AIS4_S7.

Team Number: 2.

Team Project Topic: Customer Churn Prediction and Analysis.

Team Github Repository: [CustomerChurnPredictionAndAnalysis_DEPI_GIZ2_AIS4_S7](https://github.com/Youstr1233/CustomerChurnPredictionAndAnalysis_DEPI_GIZ2_AIS4_S7).

Team Leader Name: Yousef Mohamed.

Team Members Names:
* Mariam Abdulnabi.
* Abdulrahman Ahmed.
* Khalid Mohammed.
* Mohammed Abdulhameed.
* Mohammed Ayoub.
* Hoor Hazem.

_____________________________________________________

##**Table of Contents**

1. **Milestone 1 Overview.**
__________________
2. **Handling Null Values.**
__________________
3. **Handling Duplicated Values.**
_________________________________
4. **Handling Outliers.**
__________________
5. **Handling Non-standard Missing Values.**
 * **Handling Procedures.**
 * **Suspected Columns:**
    * **Calls_made Column.**
    * **sms_sent Column.**
    * **data used column.**
__________________________    
6. **Handling The Formula of Attribute Data.**
 * **Suspected Columns:**
    * **age column.**
    * **pincode column.**
    * **date_of_registration column.**
    * **num_dependents column.**
_____________
7. **Handling The Redundant Columns.**
 * **Suspected Columns:**
    * **customer_id column.**
    * **pincode column.**
    * **date of registration.**
    * **churn column.**
_________________    
8. **The Final Cleaned Dataset.**
______________________
9. **Conclusion.**

## **1. Milestone 1 Overview**

In this milestone, the dataset that is collected from kaggle "[Telecom Churn Dataset](https://www.kaggle.com/datasets/suraj520/telecom-churn-dataset/code)" has 243,553 entries and 14 columns. The columns in this dataset will be handled for data analysis and machine learning purposes. The null values, the duplicated values, the outliers, and the formula of values will be involved in handling process.

In [101]:
import pandas as pd
import numpy as np

In [102]:
# Read dataset
data = pd.read_csv('/content/telecom_churn.csv')

In [103]:
# Sample of dataset
data.head(15)

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,2020-01-01,4,124962,44,45,-361,0
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,2020-01-01,2,130556,62,39,5973,0
2,3,Vodafone,F,57,Arunachal Pradesh,Delhi,423976,2020-01-01,0,148828,49,24,193,1
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,2020-01-01,1,38722,80,25,9377,1
4,5,BSNL,F,26,Tripura,Delhi,740247,2020-01-01,2,55098,78,15,1393,0
5,6,Vodafone,M,36,Uttarakhand,Chennai,120612,2020-01-01,1,73452,91,24,8109,0
6,7,BSNL,F,60,Karnataka,Delhi,609616,2020-01-01,1,110035,36,13,8512,0
7,8,BSNL,M,46,Arunachal Pradesh,Kolkata,866786,2020-01-01,4,104541,87,40,2245,1
8,9,Reliance Jio,F,53,Himachal Pradesh,Mumbai,765257,2020-01-01,2,79439,34,12,10039,0
9,10,BSNL,F,57,Rajasthan,Mumbai,506308,2020-01-01,0,126422,61,33,567,0
10,11,Airtel,M,44,Uttarakhand,Chennai,776250,2020-01-01,0,133288,7,7,1275,1
11,12,Airtel,M,56,Odisha,Mumbai,642121,2020-01-01,4,135129,39,51,7644,0
12,13,Vodafone,F,64,Uttar Pradesh,Hyderabad,339770,2020-01-01,4,136967,40,4,1911,0
13,14,Vodafone,F,70,Chhattisgarh,Kolkata,711206,2020-01-01,0,140219,50,17,7727,0
14,15,Vodafone,F,38,Uttar Pradesh,Delhi,546253,2020-01-01,1,147805,86,20,8058,0

In [104]:
#Dataset overview
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243553 entries, 0 to 243552
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   customer_id           243553 non-null  int64
 1   telecom_partner       243553 non-null  object
 2   gender                243553 non-null  object
 3   age                   243553 non-null  int64
 4   state                 243553 non-null  object
 5   city                  243553 non-null  object
 6   pincode               243553 non-null  int64
 7   date_of_registration  243553 non-null  object
 8   num_dependents        243553 non-null  int64
 9   estimated_salary      243553 non-null  int64
 10  calls_made            243553 non-null  int64
 11  sms_sent              243553 non-null  int64
 12  data_used             243553 non-null  int64
 13  churn                 243553 non-null  int64
dtypes: int64(9), object(5)
memory usage: 26.0+ MB

In [105]:
# Statistical description of numerical columns in dataset
data.describe()

,customer_id,age,pincode,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
count,243553.000000,243553.000000,243553.000000,243553.000000,243553.000000,243553.000000,243553.000000,243553.000000,243553.000000
mean,121777.000000,46.077609,549501.270541,1.997500,85021.137839,49.010548,23.945404,4993.186025,0.200478
std,70307.839393,16.444029,259808.860574,1.414941,37508.963233,29.453556,14.733575,2942.019547,0.400359
min,1.000000,18.000000,100006.000000,0.000000,20000.000000,-10.000000,-5.000000,-987.000000,0.000000
25%,60889.000000,32.000000,324586.000000,1.000000,52585.000000,24.000000,11.000000,2490.000000,0.000000
50%,121777.000000,46.000000,548112.000000,2.000000,84990.000000,49.000000,24.000000,4987.000000,0.000000
75%,182665.000000,60.000000,774994.000000,3.000000,117488.000000,74.000000,36.000000,7493.000000,0.000000
max,243553.000000,74.000000,999987.000000,4.000000,149999.000000,108.000000,53.000000,10991.000000,1.000000

In [106]:
# Statistical description of categorical columns in dataset
data.describe(include='object')

       telecom_partner  gender        state     city date_of_registration
count           243553  243553       243553   243553               243553
unique               4       2           28        6                 1220
top       Reliance Jio       M  Uttarakhand  Chennai           2023-05-02
freq             61123  145977         8856    40749                  200

In [107]:
# Categories of telecom_partner column
data['telecom_partner'].value_counts()

telecom_partner
Reliance Jio    61123
Airtel          60905
Vodafone        60802
BSNL            60723
Name: count, dtype: int64

In [108]:
# Categories of gender column
data['gender'].value_counts()

gender
M    145977
F     97576
Name: count, dtype: int64

In [109]:
# Categories of state column
data['state'].value_counts()

state
Uttarakhand          8856
Karnataka            8845
Maharashtra          8820
Madhya Pradesh       8817
Arunachal Pradesh    8757
Jharkhand            8755
Rajasthan            8750
Uttar Pradesh        8742
Haryana              8740
Kerala               8725
Tamil Nadu           8718
Odisha               8712
Goa                  8694
Sikkim               8689
Telangana            8689
Mizoram              8689
Meghalaya            8684
Himachal Pradesh     8682
Chhattisgarh         8677
Tripura              8660
Manipur              8651
Andhra Pradesh       8649
Bihar                8633
Punjab               8628
Gujarat              8610
West Bengal          8572
Nagaland             8562
Assam                8547
Name: count, dtype: int64

In [110]:
# Categories of city column
data['city'].value_counts()

city
Chennai      40749
Hyderabad    40698
Kolkata      40661
Bangalore    40603
Delhi        40456
Mumbai       40386
Name: count, dtype: int64

## **2. Handling Null Values**

In [111]:
# Null values check
data.isnull().sum()

customer_id             0
telecom_partner         0
gender                  0
age                     0
state                   0
city                    0
pincode                 0
date_of_registration    0
num_dependents          0
estimated_salary        0
calls_made              0
sms_sent                0
data_used               0
churn                   0
dtype: int64

This dataset has __not any null values in any columns__.
__________________

## **3. Handling Duplicated Values**

In [112]:
# Duplicated values check
data.duplicated().sum()

np.int64(0)

This dataset has __not any duplicated values__.
__________________

## **4. Handling Outliers**

In [113]:
# Collect numerical columns
df_num = data.select_dtypes(include=[np.number])

# Get Q1, Q3, and IQR
Q1 = df_num.quantile(0.25)
Q3 = df_num.quantile(0.75)
IQR = Q3 - Q1
outlier = (df_num < (Q1 - 1.5 * IQR)) | (df_num > (Q3 + 1.5 * IQR))

# Print outliers in each numerical columns
for i in outlier.columns:
    print(f'Total number of Outliers in column {i} are {outlier[i].sum()}')

Total number of Outliers in column customer_id are 0
Total number of Outliers in column age are 0
Total number of Outliers in column pincode are 0
Total number of Outliers in column num_dependents are 0
Total number of Outliers in column estimated_salary are 0
Total number of Outliers in column calls_made are 0
Total number of Outliers in column sms_sent are 0
Total number of Outliers in column data_used are 0
Total number of Outliers in column churn are 48827

Despite of __churn column__, the dataset has __not any outliers in any numerical columns__.

_________________________________

## **5. Handling Non-standard Missing Values**

According to __calls_made__, __sms_sent__, and __data_used__ columns , there are unlogical negative values in some entries for one or more of three mentioned columns. These negative values as magnitude are not the same which these negative values can not be replaced by zero.

In [114]:
# Sample of negative calls_made entries in dataset
data[data['calls_made'] < 0]

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
68,69,Airtel,M,39,Kerala,Mumbai,413226,2020-01-01,2,121809,-1,13,8728,0
109,110,BSNL,M,36,Chhattisgarh,Delhi,635762,2020-01-01,3,53001,-3,24,3695,0
154,155,Reliance Jio,M,70,Arunachal Pradesh,Kolkata,973590,2020-01-01,0,53865,-5,42,9856,0
180,181,Reliance Jio,F,55,Maharashtra,Mumbai,387154,2020-01-01,0,121888,-10,9,8344,0
190,191,Reliance Jio,M,66,Kerala,Chennai,214048,2020-01-01,0,99159,-3,-1,3838,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243125,243126,Airtel,F,43,Karnataka,Mumbai,841704,2023-05-01,2,65278,-2,32,5129,0
243169,243170,BSNL,M,37,Chhattisgarh,Delhi,210169,2023-05-02,0,128961,-2,8,7437,0
243210,243211,Reliance Jio,M,31,Punjab,Hyderabad,994098,2023-05-02,2,84768,-4,8,3398,1
243278,243279,Vodafone,M,49,Mizoram,Mumbai,488462,2023-05-02,1,31299,-7,12,31,1
243483,243484,BSNL,M,33,West Bengal,Chennai,745603,2023-05-03,1,127675,-3,24,1646,1

There are __6,713__ entries that have negative calls_made values.
__________________

In [115]:
# Sample of negative sms_sent entries in dataset
data[data['sms_sent'] < 0]

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
19,20,Vodafone,M,26,Uttar Pradesh,Hyderabad,516585,2020-01-01,1,109753,95,-1,9993,0
33,34,BSNL,F,31,Haryana,Bangalore,830078,2020-01-01,2,106097,89,-2,3927,0
83,84,Reliance Jio,F,22,Assam,Hyderabad,848983,2020-01-01,2,47235,102,-1,7785,0
90,91,BSNL,M,28,Bihar,Bangalore,638325,2020-01-01,0,31297,36,-3,2695,0
110,111,Airtel,F,44,Maharashtra,Bangalore,208672,2020-01-01,4,107123,38,-4,3529,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243339,243340,Vodafone,F,21,Chhattisgarh,Kolkata,526118,2023-05-02,4,108410,22,-3,2439,0
243388,243389,Airtel,F,47,Manipur,Delhi,274781,2023-05-03,3,110855,48,-3,5243,0
243443,243444,Reliance Jio,M,65,Manipur,Kolkata,581455,2023-05-03,3,125216,23,-1,7108,0
243484,243485,Reliance Jio,M,21,Maharashtra,Kolkata,938443,2023-05-03,2,92431,59,-1,8959,0
243513,243514,Reliance Jio,M,42,Goa,Mumbai,512643,2023-05-03,1,70555,49,-2,-1,0

There are __7,375__ entries that have negative sms_sent values.
__________________

In [116]:
# Sample of negative data_used entries in dataset
data[data['data_used'] < 0]

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,2020-01-01,4,124962,44,45,-361,0
38,39,Reliance Jio,M,69,Gujarat,Chennai,712223,2020-01-01,1,87166,92,15,-790,0
69,70,Reliance Jio,M,28,Kerala,Chennai,520338,2020-01-01,2,34463,36,6,-492,0
72,73,BSNL,F,43,Uttarakhand,Delhi,554046,2020-01-01,4,101224,33,44,-73,0
87,88,Airtel,F,33,Himachal Pradesh,Kolkata,100889,2020-01-01,0,122987,78,4,-149,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243377,243378,Airtel,M,48,Arunachal Pradesh,Chennai,273303,2023-05-03,3,34942,47,39,-88,1
243434,243435,BSNL,M,31,Uttarakhand,Mumbai,585517,2023-05-03,2,143739,90,16,-403,0
243455,243456,BSNL,F,22,Chhattisgarh,Kolkata,371679,2023-05-03,4,107591,44,33,-459,0
243481,243482,Vodafone,F,61,Meghalaya,Chennai,964995,2023-05-03,3,59843,14,26,-529,0
243513,243514,Reliance Jio,M,42,Goa,Mumbai,512643,2023-05-03,1,70555,49,-2,-1,0

There are __6,050__ entries that have negative data_used values.
__________________

There are suspected reasons of negative values in the three columns as the following:

  *  __Data Entry Errors__: Human or system errors during data collection or processing might lead to negative values.
  * __Billing Corrections__: If the system initially overcharges a customer and later corrects it, the correction might be logged as a negative usage.
  * __Reversals of Charges__: If a call, SMS, or data usage was mistakenly recorded, then later reversed, it might appear as a negative value.
  * __Refunds or Adjustments__: Some telecom companies issue refunds or adjustments, which might be represented as negative values.
  ___________________________

### **Handling Procedure**

For dealing with calls_made, sms_sent, and data_used of each customer as __magnitude__, and simulating the __non ideal conditions__ that can happen in services transactions, Taking the __absolute value__ of the three columns then adding __a new binary categorical column__ for each column (cals_made, sms_sent, and data_used) that indicates if the value is negative or not will be effective handling procedure in this case.

___________________________________

### **Suspected Columns:**

#### **data_used column**

In [117]:
# Creating negative values of calls_made column
data['calls_made_negative'] = (data['calls_made'] < 0).astype(int)

In [118]:
# Taking the absolute value of calls_made
data['calls_made'] = data['calls_made'].abs()

#### **sms_sent column**

In [119]:
# Creating negative values of sms_sent column
data['sms_sent_negative'] = (data['sms_sent'] < 0).astype(int)

In [120]:
# Taking the absolute value of sms_sent
data['sms_sent'] = data['sms_sent'].abs()

#### **data_used column**

In [121]:
# Creating negative values of data_used column
data['data_used_negative'] = (data['data_used'] < 0).astype(int)

In [122]:
# Taking the absolute value of data_used
data['data_used'] = data['data_used'].abs()

In [123]:
# Sample of dataset after the handling procedure
data.head(15)

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn,calls_made_negative,sms_sent_negative,data_used_negative
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,2020-01-01,4,124962,44,45,361,0,0,0,1
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,2020-01-01,2,130556,62,39,5973,0,0,0,0
2,3,Vodafone,F,57,Arunachal Pradesh,Delhi,423976,2020-01-01,0,148828,49,24,193,1,0,0,0
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,2020-01-01,1,38722,80,25,9377,1,0,0,0
4,5,BSNL,F,26,Tripura,Delhi,740247,2020-01-01,2,55098,78,15,1393,0,0,0,0
5,6,Vodafone,M,36,Uttarakhand,Chennai,120612,2020-01-01,1,73452,91,24,8109,0,0,0,0
6,7,BSNL,F,60,Karnataka,Delhi,609616,2020-01-01,1,110035,36,13,8512,0,0,0,0
7,8,BSNL,M,46,Arunachal Pradesh,Kolkata,866786,2020-01-01,4,104541,87,40,2245,1,0,0,0
8,9,Reliance Jio,F,53,Himachal Pradesh,Mumbai,765257,2020-01-01,2,79439,34,12,10039,0,0,0,0
9,10,BSNL,F,57,Rajasthan,Mumbai,506308,2020-01-01,0,126422,61,33,567,0,0,0,0
10,11,Airtel,M,44,Uttarakhand,Chennai,776250,2020-01-01,0,133288,7,7,1275,1,0,0,0
11,12,Airtel,M,56,Odisha,Mumbai,642121,2020-01-01,4,135129,39,51,7644,0,0,0,0
12,13,Vodafone,F,64,Uttar Pradesh,Hyderabad,339770,2020-01-01,4,136967,40,4,1911,0,0,0,0
13,14,Vodafone,F,70,Chhattisgarh,Kolkata,711206,2020-01-01,0,140219,50,17,7727,0,0,0,0
14,15,Vodafone,F,38,Uttar Pradesh,Delhi,546253,2020-01-01,1,147805,86,20,8058,0,0,0,0

In [124]:
# Rearrange the collumns arrangement
data_re = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,14,11,15,12,16,13]]

In [125]:
# The dataset after the rearrangement
data_re.head(15)

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,calls_made_negative,sms_sent,sms_sent_negative,data_used,data_used_negative,churn
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,2020-01-01,4,124962,44,0,45,0,361,1,0
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,2020-01-01,2,130556,62,0,39,0,5973,0,0
2,3,Vodafone,F,57,Arunachal Pradesh,Delhi,423976,2020-01-01,0,148828,49,0,24,0,193,0,1
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,2020-01-01,1,38722,80,0,25,0,9377,0,1
4,5,BSNL,F,26,Tripura,Delhi,740247,2020-01-01,2,55098,78,0,15,0,1393,0,0
5,6,Vodafone,M,36,Uttarakhand,Chennai,120612,2020-01-01,1,73452,91,0,24,0,8109,0,0
6,7,BSNL,F,60,Karnataka,Delhi,609616,2020-01-01,1,110035,36,0,13,0,8512,0,0
7,8,BSNL,M,46,Arunachal Pradesh,Kolkata,866786,2020-01-01,4,104541,87,0,40,0,2245,0,1
8,9,Reliance Jio,F,53,Himachal Pradesh,Mumbai,765257,2020-01-01,2,79439,34,0,12,0,10039,0,0
9,10,BSNL,F,57,Rajasthan,Mumbai,506308,2020-01-01,0,126422,61,0,33,0,567,0,0
10,11,Airtel,M,44,Uttarakhand,Chennai,776250,2020-01-01,0,133288,7,0,7,0,1275,0,1
11,12,Airtel,M,56,Odisha,Mumbai,642121,2020-01-01,4,135129,39,0,51,0,7644,0,0
12,13,Vodafone,F,64,Uttar Pradesh,Hyderabad,339770,2020-01-01,4,136967,40,0,4,0,1911,0,0
13,14,Vodafone,F,70,Chhattisgarh,Kolkata,711206,2020-01-01,0,140219,50,0,17,0,7727,0,0
14,15,Vodafone,F,38,Uttar Pradesh,Delhi,546253,2020-01-01,1,147805,86,0,20,0,8058,0,0

In [126]:
data = data_re

## **6. Handling The Formula of Atribute Data**

Handling formula of attribute data is essential for deeply data analysis and more efficient machine learning model. The way of handling can be __changing the formula__ of data or adding categorical column that __categorize__ a certain column.

### **Suspected Columns:**

#### **age Column**

In [127]:
# Statistical Summary of age column
data['age'].describe()

count    243553.000000
mean         46.077609
std          16.444029
min          18.000000
25%          32.000000
50%          46.000000
75%          60.000000
max          74.000000
Name: age, dtype: float64

According the statitical summary of age, the age of customers between (18,74) years.
__________________________________

##### **age_decay_range column**

Column that illustrates the __decay range__ of customer.
________________

In [128]:
# Add age_decay_range column
data['age_decay_range'] = data['age'].apply(lambda x: x//10 *10)

In [129]:
# Sample of age_decay_range entries
data['age_decay_range']

0         20
1         50
2         50
3         40
4         20
          ..
243548    20
243549    50
243550    50
243551    40
243552    30
Name: age_decay_range, Length: 243553, dtype: int64

In [130]:
# Categories of age_decay_range column
data['age_decay_range'].value_counts()

age_decay_range
60    43331
50    42659
30    42626
40    42601
20    42517
70    21377
10     8442
Name: count, dtype: int64

##### **age_interval column**

Column that illstrate the __age interval__ of the customer.

According to [Facial Age Group Classification Research](https://www.researchgate.net/publication/271253673_Facial_Age_Group_Classification)

![](https://www.researchgate.net/profile/Punit-Raninga/publication/271253673/figure/tbl1/AS:667620638482437@1536184572172/AGE-GROUP-NAME-WITH-ITS-AGE-RANGE.png)

In [131]:
# Add age_interval column
data['age_interval'] = data['age'].apply(lambda x: 'Young Adults' if (x>=17 | x <=30) else('Middle-agged Adults' if (x>=31 | x <=45) else ('Old Adults')) )

In [132]:
# Sample of age_interval entries
data['age_interval']

0         Young Adults
1           Old Adults
2           Old Adults
3           Old Adults
4           Old Adults
              ...
243548      Old Adults
243549      Old Adults
243550      Old Adults
243551      Old Adults
243552      Old Adults
Name: age_interval, Length: 243553, dtype: object

In [133]:
# Categories of age_interval column
data['age_interval'].value_counts()

age_interval
Old Adults             213760
Young Adults            25582
Middle-agged Adults      4211
Name: count, dtype: int64

#### **state columns**

In [134]:
# Categories of state column
data['state'].value_counts()

state
Uttarakhand          8856
Karnataka            8845
Maharashtra          8820
Madhya Pradesh       8817
Arunachal Pradesh    8757
Jharkhand            8755
Rajasthan            8750
Uttar Pradesh        8742
Haryana              8740
Kerala               8725
Tamil Nadu           8718
Odisha               8712
Goa                  8694
Sikkim               8689
Telangana            8689
Mizoram              8689
Meghalaya            8684
Himachal Pradesh     8682
Chhattisgarh         8677
Tripura              8660
Manipur              8651
Andhra Pradesh       8649
Bihar                8633
Punjab               8628
Gujarat              8610
West Bengal          8572
Nagaland             8562
Assam                8547
Name: count, dtype: int64

##### **region column**

Column that illstrates the __region__ that the customer live in.
_______________________________

According to [Indias By Region](https://learningindia.in/indias-by-region/)

![](https://learningindia.in/wp-content/uploads/2014/04/Slide1.jpg)

In [135]:
# Add region column
data['region'] = data['state'].apply(lambda x:
                                     'North India' if x in ['Rajasthan','Himachal Pradesh','Haryana','Punjab','Uttar Pradesh','Uttarakhand']
                                     else(
                                    'West India' if x in ['Goa','Gujarat','Maharashtra']
                                    else(
                                        'South India' if x in ['Karnataka','Tamil Nadu','Kerala','Andhra Pradesh','Telangana']
                                        else(
                                            'East India' if x in ['Bihar','Jharkhand','Odisha','West Bengal']
                                            else 'Central India' if x in ['Madhya Pradesh','Chhattisgarh']
                                            else 'Northeast India' if x in ['Assam','Manipur','Meghalaya','Mizoram','Nagaland','Sikkim','Tripura','Arunachal Pradesh']
                                            else 'Other'
                                        )
                                    )
                                     )
                                     )

In [136]:
# Sample of region entries
data['region']

0             South India
1         Northeast India
2         Northeast India
3             South India
4         Northeast India
               ...
243548    Northeast India
243549    Northeast India
243550    Northeast India
243551      Central India
243552        South India
Name: region, Length: 243553, dtype: object

In [137]:
# Categories of region column
data['region'].value_counts()

region
Northeast India    69239
North India        52398
South India        43626
East India         34672
West India         26124
Central India      17494
Name: count, dtype: int64

#### **pincode column**

According to [What is a PIN Code?](https://www.bankbazaar.com/pin-code/what-is-pin-code.html)

Pincode is  __P__ostal __I__ndex __N__umber. It is a code that appears in the post office number of the postal code system used by India Post to sort mail.

__________________________________

![](https://static.bankbazaar.com/images/india/infographic/pin-code.webp)

As shown in this figure the parts of pincode. Where the zone indicates the state of india that person live in.
_________________________

But when comparing a sample of pincode and state for the same customer, the pincode in the dataset does not __follow the standards__.
______________________________

In [138]:
data[['state','pincode']]

                    state  pincode
0               Karnataka   755597
1                 Mizoram   125926
2       Arunachal Pradesh   423976
3              Tamil Nadu   522841
4                 Tripura   740247
...                   ...      ...
243548            Mizoram   110295
243549              Assam   713481
243550            Tripura   520218
243551     Madhya Pradesh   387744
243552          Telangana   139086

[243553 rows x 2 columns]

So, when the pincode in the dataset does not follow the standards and pincode is the __least information required__ from customers, pincode column will __be dropped__.
__________________________________________

#### **date_of_registration column**

In [139]:
# Sample of date of registration
data['date_of_registration']

0         2020-01-01
1         2020-01-01
2         2020-01-01
3         2020-01-01
4         2020-01-01
             ...
243548    2023-05-03
243549    2023-05-03
243550    2023-05-03
243551    2023-05-03
243552    2023-05-04
Name: date_of_registration, Length: 243553, dtype: object

##### **registration_year, registration_month, and registration_day  column**

In [140]:
# Convert date_of_registration column to datetime
data['date_of_registration'] = pd.to_datetime(data['date_of_registration'], errors='coerce')

In [141]:
# Access year to add registration_year column
data['registration_year'] = data['date_of_registration'].dt.year

# Access month to add registration_month column
data['registration_month'] = data['date_of_registration'].dt.month

# Access day to add registration_day column
data['registration_day'] = data['date_of_registration'].dt.day

#### **num_dependents column**

##### **single or not column**

In [142]:
data['single or not'] = data['num_dependents'].apply(lambda x: 'Single' if x == 0 else 'Not single')

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243553 entries, 0 to 243552
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   customer_id           243553 non-null  int64
 1   telecom_partner       243553 non-null  object
 2   gender                243553 non-null  object
 3   age                   243553 non-null  int64
 4   state                 243553 non-null  object
 5   city                  243553 non-null  object
 6   pincode               243553 non-null  int64
 7   date_of_registration  243553 non-null  datetime64[ns]
 8   num_dependents        243553 non-null  int64
 9   estimated_salary      243553 non-null  int64
 10  calls_made            243553 non-null  int64
 11  calls_made_negative   243553 non-null  int64
 12  sms_sent              243553 non-null  int64
 13  sms_sent_negative     243553 non-null  int64
 14  data_used             243553 non-null  int64
 15  data_used_negative    243553 non-null  int64
 16  churn                 243553 non-null  int64
 17  age_decay_range       243553 non-null  int64
 18  age_interval          243553 non-null  object
 19  region                243553 non-null  object
 20  registration_year     243553 non-null  int32
 21  registration_month    243553 non-null  int32
 22  registration_day      243553 non-null  int32
 23  single or not         243553 non-null  object
dtypes: datetime64[ns](1), int32(3), int64(13), object(7)
memory usage: 41.8+ MB

In [144]:
data_reg = data.iloc[:,[0,1,2,3,17,18,4,5,19,6,7,20,21,22,8,23,9,10,11,12,13,14,15,16]]

In [145]:
data = data_reg
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243553 entries, 0 to 243552
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   customer_id           243553 non-null  int64
 1   telecom_partner       243553 non-null  object
 2   gender                243553 non-null  object
 3   age                   243553 non-null  int64
 4   age_decay_range       243553 non-null  int64
 5   age_interval          243553 non-null  object
 6   state                 243553 non-null  object
 7   city                  243553 non-null  object
 8   region                243553 non-null  object
 9   pincode               243553 non-null  int64
 10  date_of_registration  243553 non-null  datetime64[ns]
 11  registration_year     243553 non-null  int32
 12  registration_month    243553 non-null  int32
 13  registration_day      243553 non-null  int32
 14  num_dependents        243553 non-null  int64
 15  single or not         243553 non-null  object
 16  estimated_salary      243553 non-null  int64
 17  calls_made            243553 non-null  int64
 18  calls_made_negative   243553 non-null  int64
 19  sms_sent              243553 non-null  int64
 20  sms_sent_negative     243553 non-null  int64
 21  data_used             243553 non-null  int64
 22  data_used_negative    243553 non-null  int64
 23  churn                 243553 non-null  int64
dtypes: datetime64[ns](1), int32(3), int64(13), object(7)
memory usage: 41.8+ MB

## **7. Handling The Redundant Columns**

The columns that will __be not used__ in analysis and building machine learning model or __not lead to a new information__ about dataset or __have some contradictions__ with the data of other columns are called redundant columns.

### **Suspected Columns:**

#### **customer_id**

customer_id is the same as the entry __position__ + 1. customer_id will __not be used__ in analysis and building machine learning model. So, customer_id will __be dropped__.
____________________

In [146]:
# Drop customer_id column
data.drop('customer_id', axis=1, inplace=True)

<ipython-input-146-f70434b885d8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('customer_id', axis=1, inplace=True)

#### **pincode**

According to "Handling The Formula of Attribute Data" section, pincode data have many __contradictions__ with city and state columns. So, pincode column will __be dropped__.

In [147]:
# Drop pincode column
data.drop('pincode', axis=1, inplace=True)

<ipython-input-147-d27b51686112>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('pincode', axis=1, inplace=True)

#### **date of registration column**

According to the __original formula__ of date_of_registration, date_of_registration column will __be dropped__.

In [148]:
# Drop date_of_registration column
data.drop('date_of_registration', axis=1, inplace=True)

<ipython-input-148-d5e8da3a153b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('date_of_registration', axis=1, inplace=True)

#### **churn column**

churn column is the objective of the whole project. So churn column wil __not be dropped__.

## **8. The Final Cleaned Dataset**

In [149]:
data.head(15)

,telecom_partner,gender,age,age_decay_range,age_interval,state,city,region,registration_year,registration_month,...,num_dependents,single or not,estimated_salary,calls_made,calls_made_negative,sms_sent,sms_sent_negative,data_used,data_used_negative,churn
0,Reliance Jio,F,25,20,Young Adults,Karnataka,Kolkata,South India,2020,1,...,4,Not single,124962,44,0,45,0,361,1,0
1,Reliance Jio,F,55,50,Old Adults,Mizoram,Mumbai,Northeast India,2020,1,...,2,Not single,130556,62,0,39,0,5973,0,0
2,Vodafone,F,57,50,Old Adults,Arunachal Pradesh,Delhi,Northeast India,2020,1,...,0,Single,148828,49,0,24,0,193,0,1
3,BSNL,M,46,40,Old Adults,Tamil Nadu,Kolkata,South India,2020,1,...,1,Not single,38722,80,0,25,0,9377,0,1
4,BSNL,F,26,20,Old Adults,Tripura,Delhi,Northeast India,2020,1,...,2,Not single,55098,78,0,15,0,1393,0,0
5,Vodafone,M,36,30,Old Adults,Uttarakhand,Chennai,North India,2020,1,...,1,Not single,73452,91,0,24,0,8109,0,0
6,BSNL,F,60,60,Old Adults,Karnataka,Delhi,South India,2020,1,...,1,Not single,110035,36,0,13,0,8512,0,0
7,BSNL,M,46,40,Old Adults,Arunachal Pradesh,Kolkata,Northeast India,2020,1,...,4,Not single,104541,87,0,40,0,2245,0,1
8,Reliance Jio,F,53,50,Old Adults,Himachal Pradesh,Mumbai,North India,2020,1,...,2,Not single,79439,34,0,12,0,10039,0,0
9,BSNL,F,57,50,Old Adults,Rajasthan,Mumbai,North India,2020,1,...,0,Single,126422,61,0,33,0,567,0,0
10,Airtel,M,44,40,Old Adults,Uttarakhand,Chennai,North India,2020,1,...,0,Single,133288,7,0,7,0,1275,0,1
11,Airtel,M,56,50,Old Adults,Odisha,Mumbai,East India,2020,1,...,4,Not single,135129,39,0,51,0,7644,0,0
12,Vodafone,F,64,60,Old Adults,Uttar Pradesh,Hyderabad,North India,2020,1,...,4,Not single,136967,40,0,4,0,1911,0,0
13,Vodafone,F,70,70,Old Adults,Chhattisgarh,Kolkata,Central India,2020,1,...,0,Single,140219,50,0,17,0,7727,0,0
14,Vodafone,F,38,30,Old Adults,Uttar Pradesh,Delhi,North India,2020,1,...,1,Not single,147805,86,0,20,0,8058,0,0

In [151]:
data.to_csv('cleaned_data_telecomchurn.csv')

## **9. Conclusion**

* The dataset has not any null values, duplicated values, and outliers issues.
* The final shape of cleaned dataset as the following:
    * Total columns: .
    * Total entries: 243,553.
    * Removed columns from original dataset: 3.
    * Removed entries from original dataset: 0.
    * artifical columns: 10.
    * artifical entries: 0.
_________________________

# **Thank You**

_________________________________